/* Общие стили для всего приложения */
.root {
    -fx-font-family: "Arial";
}

/* Стили для меню */
.menu-bar {
    -fx-background-color: #2E3B4E;
    -fx-text-fill: #ffffff;
}

.menu {
    -fx-background-color: #2E3B4E;
    -fx-text-fill: #ffffff;
}

.menu-item {
    -fx-background-color: #2E3B4E;
    -fx-text-fill: #ffffff;
}

/* Стили для кнопок */
.button-add {
    -fx-background-color: #4CAF50; /* Зеленый */
    -fx-text-fill: white;
}

.button-update {
    -fx-background-color: #2196F3; /* Синий */
    -fx-text-fill: white;
}

.button-delete {
    -fx-background-color: #f44336; /* Красный */
    -fx-text-fill: white;
}

.button-clear {
    -fx-background-color: #ff9800; /* Оранжевый */
    -fx-text-fill: white;
}

/* Стили для таблицы */
.table-view {
    -fx-border-color: #2E3B4E;
}

.table-column {
    -fx-alignment: CENTER;
    -fx-text-fill: #2E3B4E;
}

/* Стили для меток */
.label {
    -fx-text-fill: #2E3B4E;
}
